/* Common Styles */

@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&family=Edu+VIC+WA+NT+Beginner&family=Monoton&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,600&family=Roboto+Slab:wght@900&family=Roboto:wght@400;700;900&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    list-style-type: none;
    outline: none;
    font-family: 'Bellota Text', cursive;
    text-decoration: none;
    overflow: none;
}

.container{
    overflow-x: hidden;
    width: 100%;
}

html {
    font-size: 62.5%;
}

/* End of Common Styles */

/* Section-1 */
.section-1 {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: relative;
}

.floating-bg {
    background-color: rgba(88, 184, 168, 0.8);
    width: 150vw;
    height: 150vw;
    border-radius: 45%;
    position: absolute;
    top:-125vw;
    left:-25vw ;
    animation: rotate 35s infinite;
}
.floating-bg::before {
    content: "";
    background-color: rgba(88, 184, 168, 0.1);
    width: 100%;
    height: 100%;
    border-radius: 40%;
    position: absolute;
    top:0;
    left: 0;
    animation: rotate 35s infinite;
}

@keyframes rotate{
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(360deg);
    }
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    z-index: 20;
    position: relative;
    top: 4rem;
}

.navbar-link{
    color:#fff;
    font-weight: 700;
    font-size: 2.2rem;
    width: 1rem;
    word-wrap: break-word;
    transition: all .5s;
}
.navbar-link:hover{
    width: 15rem;
    transition: all 2.5s;
}
.section1-heading{
    font-family: 'Monoton', cursive;
    font-size: 8rem;
    position: absolute;
    top: 18vw;
    left:50%;
    transform: translateX(-50%);
    color: #fff;
    text-shadow: .3rem .3rem .3rem #888;
    background-color: #fff;
    text-align: center;
    width: 85rem;
    padding: .8rem 1.6rem;
    border-radius: 0.8rem;
    opacity: 0.9;
}

.section-1 .logo{
    position:absolute;
    top:30vw ;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15rem;
    color: rgba(88, 184, 168, 0.8);
    text-shadow: .1rem .1rem .2rem #ddd,
    -.1rem -.1rem .2rem #ddd;
}

/* End of Section-1 */

/* Section-2 */
.section-2{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 50px;
}

.section-heading{
    font-size: 10rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #999;
    opacity: .1;
    text-shadow: 2rem 2rem 2rem #aaa;
}

.customers-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
}


.customer{
    width:35rem;
    height: 50rem;
    background-color: #eee;
    display: flex;
    flex-direction:column;
    align-items: center;
    box-shadow: 2rem 2rem 2rem #ddd, -2rem -2rem 2rem #eee;
    border-radius: .5rem;
    transition: box-shadow 0.5s;
}

.customer:first-child{
    align-self: flex-end;
}
.customer:last-child{
    align-self: flex-start;
}

.customer:hover{
    box-shadow: 3rem 3rem 3rem #ddd, -3rem -3rem 3rem #eee;
}

.customer>i{
    font-size: 4rem;
    color: #d89641;
}

.customer-text{
    font-size: 1.8rem;
    text-align: justify;
    padding: 0 5rem;
    margin: 2.5rem 0;
}

.customer-text::first-letter{
    margin-left: 2rem;
}

.customer-rating{
    font-size: 2rem;
    color:#d89641;
    margin: 2rem;
}

.customer img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.customer-name{
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem auto;
}
/* End of Section-2 */

/* section-3 team-members */

.section-3{
    width: 100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5rem 0;
}

.team-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
    padding-top: 8rem;
    width:100%;
}

.team-member{
    display: flex;
    flex-direction: column;
    width: 35rem;
    padding:1rem 1rem 2rem 1rem;
    background-color: #fffeee;
    box-shadow: 1rem 1rem 2rem #ddd,
    -1rem -1rem 2rem #eee;
    position: relative;
    opacity: 0.7;
    transition: all .5s;
}

.team-member:first-child{
    align-self: flex-start;
}
.team-member:last-child{
    align-self: flex-end;
}


.team-member:hover{
    opacity: 1;
}

.team-member img{
    width: 100%;
    border-radius: 0.5rem;
    
}

.team-member-name{    
        font-size: 2.3rem;
        font-weight: 700;
        color: #796717;
        margin-top: 2rem;
        padding-bottom: 1rem;
}

.team-member-name span{
    font-size: 1.7rem;
}

.team-member-skills{
    display: flex;
    justify-content: start;
}

.team-member-skills li{
    padding-right: 4rem;
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.projects-btn{
    background-color: #d89641;
    width: 40%;
    margin-top: 1rem;
    font-size: 1.6rem;
    text-align: center;
    padding: .5rem .2rem;
    border-radius: 5rem;
    color: #fff;
    font-weight: 700;
}

.story-btn{
    width: 4rem;
    height: 4rem;
    background-color: #222;
    border-radius: 50%;
    position: absolute;
    top:-1rem;
    right: -1rem;
    z-index: 50;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
}

.story-btn.change{
    transform: rotate(405deg);
}


.story-btn-line i{
    font-size: 1.7rem;
    color: #e7e5e5;
    display: inline-block;
    }

  
.story{
   background-color: rgb(71, 146, 134);
   color: #fff;
   width:100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 2rem;
   transform: scale(0);
   border-radius: 50rem 0 50rem 50rem;
   transition: all 0.4s ease-in-out;
   transform-origin: top right;
}

.story.change{
    transform: scale(1);
    border-radius: 0;
}

.story-heading{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.story-para{
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    text-align: justify;
    text-indent: 3rem;
}
/* End of section-3  */

/* section-4 contact & footer */

.section-4{
    width: 100%;
    height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form-container{
    width: 80%;
    height: 40%;
    background-color:#e7e5e5 ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: .3rem .3rem .3rem #ccc, -.1rem -.1rem .4rem #ccc;
    border-radius: 0.5rem;
    perspective: 100rem;
  
}

.form-img{
    width:55rem;
    background-color: rgba(88, 184, 168, 0.8);
    opacity: .8;
    padding: 5rem;
    box-shadow: -3rem 3rem 4rem #aaa;
    border: .5rem;
    transform: rotateY(20deg);
    transition: all 0.5s;
}

.form-img:hover{
    transform: translateY(-2rem) rotateY(20deg);
    box-shadow: -1rem 1rem 3rem #aaa;
}

.contact-form{
    display: flex;
    flex-direction: column;
    width: 45rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 3rem 3rem 4rem #aaa;
    padding: 5rem;
    transform: rotateY(-20deg);
    transition: all 0.5s;
    
}

.contact-form:hover, .contact-form:active{
    transform: rotate(-20);
    box-shadow: -2rem 2rem 2rem #aaa;
}

.contact-form input, .contact-form textarea  {
    border: none;
    margin:.5rem;
    padding: 1rem;
    box-shadow: inset .1rem .1rem 1rem #ddd, inset -.1rem -.1rem 1rem #ddd;
    border-radius: .5rem;
    font-size: 1.3rem;
    letter-spacing: .1rem;
}
.contact-form textarea{
    max-height: 15rem;
    min-height: 10rem;
    max-width: 100%;
    min-width: 70%;
}

.contact-form input[type="submit"]{
    background-color:rgba(88, 184, 168, 0.8);
    color: #fff;
    cursor: pointer;
    letter-spacing: .5rem;
    font-weight: bolder;
    transition: bbackground-color .5s;
}

.contact-form input[type="submit"]:hover{
    background-color:rgba(88, 184, 168, 1);
}

.copyright {
    font-size: 1.8rem;
    margin-top: 5rem;
    text-align: center;
    letter-spacing: .2rem;
    color: #444;
  }


/* End of section-4 contact & footer */